@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-prata), serif;
    line-height: 1.25;
  }
  
  h1 {
    font-size: 3.75rem; /* text-6xl */
    line-height: 1.25 !important;
  }
  
  @media (min-width: 768px) {
    h1 {
      font-size: 3.75rem; /* text-6xl */
      line-height: 1.25 !important;
    }
  }
  
  @media (min-width: 1024px) {
    h1 {
      font-size: 4.5rem; /* text-7xl */
      line-height: 1.25 !important;
    }
  }
}

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.dark :root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  font-family: var(--font-inter), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}
